.banners{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    
    background-color: white;

    height:15vw;
    margin-top:10px;

    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
    text-transform:uppercase;
    /*color:rgb(3, 233, 11);*/
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 254, 254);

    border:7px double rgb(191, 251, 138);
}

@media(max-width: 600px){
    .banners{
        height:30vw;
    }
}