@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family:Arial, Helvetica, sans-serif;
}

.user-nav, .main-nav, .category-nav{
  display:flex;
  background-color:white;
  color:black !important;
  text-decoration: none !important;
  padding:0px 10px 0px 10px;
  height:64px;
  position:sticky!important; 
  
}
.main-nav{
  background-color: rgb(228, 249, 176) !important;
}
.category-nav{
  background-color: rgb(174, 239, 108) !important;
}

.user-nav a, .main-nav a, .category-nav a{
  color:black !important;
  text-decoration: none;
  margin:0px 10px 0px 10px;
  padding:10px 10px 10px 10px;
  font-size: 1vw;
}

.category-nav a{
  text-decoration: underline;
}

a:hover{
  background-color:rgba(255, 255, 255, 0.711);
  transition: 0.3s;
  border-radius: 5px;
}

.product-cards{
  padding-top:10px;
   display:flex;
   flex-direction: row;
   justify-content: center;
}

.product-card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(241, 252, 221);
  width:20vw;
  margin:10px;
  font-size:1vw;
}

.price-cart-row{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.category-img-box{
  display:flex;
  justify-content: center;
  align-items: center;
  height:10vw;
}
.product-card img{
  height:100%;
  width:100%;
  object-fit: scale-down;
  /*border:1px solid black;*/
}
.card-wrapper{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

.price-cart-row{
  background-color: rgb(227, 255, 192);
}.price-cart-row button, .price-cart-row label{
  width:100%;
  text-align: center;
}.price-cart-row button:hover{
  background-color:rgb(255, 255, 255);
  transition:0.3s
}

.product-name{
    background-color: rgb(227, 255, 192);
    border-top:2px solid rgb(194, 243, 168);
    border-bottom:2px solid rgb(194, 243, 168);
    font-weight: bold;
    text-align: center;

}
.separator{
  height:100%;
  color: rgb(194, 243, 168);
}

.product{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1vw;

  margin:20px;
}
.product-img-box{
  height:35vw;
  width:35vw;
}
.product img{
  height:100%;
  object-fit: scale-down;
}

.product-info{
  padding:5vw;
  text-align:justify;
}.product-info h1, .product-info h2{
  font-weight: bold;
}

.product-info button{
  display: flex;

  background-color: rgb(235, 255, 210);
  padding: 5px;
  margin-top: 1vw;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid rgb(122, 192, 36);
  padding: 5px;
}

.product-info button:hover{
  background-color: rgb(186, 251, 107);
}

.footer{
  display: flex;
  flex-direction: row;
  background-color: rgb(29, 29, 29);
  color: white;
  justify-content: space-between;
  height:40%;
}
.footer-links, .footer-contact, .footer-about-us, .footer-map{
  display:flex;
  flex-direction: column;
  padding: 0vw 5vw 1vw 5vw;
  font-size: 1.2vw;
  font-weight: bold;
}

.footer-links a, .footer-contact a, .footer-about-us p{
  text-decoration: none;
  color:white;
  font-size: 1vw;
  color:rgb(174, 174, 174);
}

.footer-links a:hover, .footer-contact a:hover{
  background-color: rgba(240, 248, 255, 0.205);
}
.home-content{
  height: 100%;
  padding:2vw;
}.home-content h2{
  font-weight: bold;
  font-size:2vw;
}.home-content a{
  color:rgb(207, 255, 135);
  font-size:1.6vw;
  padding:8;
}

.home-product-card, .home-blog-card{
  height:10vw;
  color:white;
  text-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  padding: 2vw;
  background-image: url("/img/banners/welcome_banner.jpg");
  background-size: cover;
}.home-blog-card{
  background-position:0;
}

iframe{
  height:10vw;
  width:15vw;
}

.blog-card{
  border: 2px solid rgb(0, 0, 0);
  padding: 2vw;
  font-size: 1vw;
  margin: 1vw;
  border-radius: 1vw;
  box-shadow: 2px 2px 2px rgba(36, 31, 31, 0.44);
}

.blog-card a{
  color:black;
  text-decoration: none;
}
.blog-card h2{
  font-weight: bold;
}
.blog-card:hover{
  box-shadow: 5px 5px 5px rgba(36, 31, 31, 0.44);
  background-color: rgb(227, 255, 192);
  transition: 0.1s;
}

.article-card{
  padding: 1vw;
  font-size: 1vw;
  margin: 0px 4vw 0px 4vw;
  text-align: justify;

}
.cart-row{
  margin:1vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  border:2px solid rgb(33, 33, 33);
  height:7vw;
  justify-content: space-between;
}.cart-row *{
  padding:0.5vw;
  height:100%;
  display:flex;
  align-items: center;
}
.cart-img img{
  object-fit: scale-down;
}
.cart-row button{
  color:rgb(208, 0, 0);
}
.cart-img-name-price{
  display:flex;
  justify-content: space-between;
  width:50%
}
.cart{
    font-size: 1vw;
}
.cart h3{
  padding:1vw;
}

@media(max-width: 1200px){
    .main-nav a, .user-nav a, .category-nav a{
      font-size:12px;
  }
}
@media(max-width:900px){
  .cart{
    font-size: 1.5vw;
  }
  .product-card{
    font-size:2vw;
    width:30vw;
  }
  .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .category-img-box{
    height:20vw;
  }
  .product{
    font-size: 1.5vw;
  }
  .blog-card{
    font-size: 1.5vw;
  }
}
@media(max-width: 600px){
  .cart{
    font-size: 2vw;
  }
  .product-card{
    font-size:2vw;
    width:40vw;
  }
  .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .category-img-box{
    height:30vw;
  }
  .main-nav a, .user-nav a, .category-nav a{
      font-size:3vw;
  }
  .product{
    font-size: 2vw;
  }
  .footer-links, .footer-links a, .footer-contact, .footer-contact a, .footer-about-us, .footer-about-us p, .footer-map{
    font-size:2vw;
  }
  .blog-card{
    font-size: 2vw;
  }
}


/*PRIDAT :ACTIVE PRE TLACIDLA V NAVIGACII, RESPONZIVNOST PRE MOBILY*/

